<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="{{ url_for('static', filename='login/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <div class="main-container centered-flex">
        <div class="form-container">
            <div class="icon icon-reset fa fa-envelope"></div>


            <form class="centered-flex" method="POST">
                <div class="title">RESET PASSWORD</div>

                <div class="msg">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <p class="success-flash">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>

                <div class="field">
                    <input type="email" name="email" placeholder="Enter your email" required>
                    <span class="fa fa-user"></span>
                </div>

                <div class="btn-containerre">
                    <input type="submit" id="login-btn" value="Send OTP">
                </div>

                <div class="signupre">
                    <a href="{{ url_for('login') }}">Back to login</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
